// Base
//@import "helpers/wordpress";
//@import "helpers/breakpoint";

// Fonts
//@import 'fonts/icon-custom';

// Colors
@import "base/colors";

// Sprites
//@import 'helpers/icon-icon';
//@include retina-sprites($icon-icon-retina);

html {
  critical: this;
  font-size: 62.5%;
}

body {
  critical: this;
  background: $black;

  @media screen and (min-width: 768px) {
    critical: this;
    background: $white;
  }
}

a {
  color: $black;
  font-size: 2rem;
  transform: rotate(46deg);
  //background: resolve("../images/image01.jpg");
  //background-size: size("../images/image01.jpg");

  &:hover {
    color: $white;
  }

  @media screen and (max-width: 640px) {
    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

// sass-lint:disable force-element-nesting
:fullscreen a {
  display: flex;
  //width: width("../images/image01.jpg");
}

html {
  font-size: 16px;
  font-style: italic;
}
