// Fonts
//@import 'fonts/icon-custom';

// Sprites
//@import 'helpers/icon-icon';
//@include retina-sprites($icon-icon-retina);

// Colors
@import 'base/colors';

// Box sizing reset
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media print {
  html {
    background-color: $white;
  }
}

@import 'base/base';
@import 'base/link';

